# Files used for testing purposes
test*

# Binary files
*.a
*.exe
*.o
*.so
*.dll
.vscode*

# Folder to store build files
build/

# CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps